<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <smtp>
                <protocol/>
                <authentication/>
                <username/>
                <password/>
            </smtp>
        </system>
    </default>
</config>
