<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Jonatanrdsantos\Email\Api\Data\ProviderInterface" type="Jonatanrdsantos\Email\Model\Config\Provider" />
    <preference for="Magento\Framework\Mail\TransportInterface" type="Jonatanrdsantos\Email\Model\Mail\Transport" />
    <preference for="Jonatanrdsantos\Email\Api\Data\ConfigInterface" type="Jonatanrdsantos\Email\Model\Config" />
    <preference for="Jonatanrdsantos\Email\Api\Data\ConnectionConfigInterface" type="Jonatanrdsantos\Email\Model\Mail\Transport\Smtp\Options\ConnectionConfig" />
    <preference for="Jonatanrdsantos\Email\Api\Data\SmtpOptionsInterface" type="Jonatanrdsantos\Email\Model\Mail\Transport\Smtp\Options" />
    <type name="Jonatanrdsantos\Email\Model\Mail\Transport">
        <arguments>
            <argument name="transport" xsi:type="object">Jonatanrdsantos\Email\Model\Mail\Transport\Smtp</argument>
        </arguments>
    </type>
    <type name="Jonatanrdsantos\Email\Model\Config\Provider\Collection">
        <arguments>
            <argument name="defaultItems" xsi:type="array">
                <item name="gmail" xsi:type="array">
                    <item name="id" xsi:type="string">gmail</item>
                    <item name="label" xsi:type="string">Gmail, GSuite</item>
                    <item name="host" xsi:type="string">smtp.gmail.com</item>
                    <item name="port" xsi:type="number">465</item>
                    <item name="protocol" xsi:type="string">ssl</item>
                </item>
                <item name="mailgun" xsi:type="array">
                    <item name="id" xsi:type="string">mailgun</item>
                    <item name="label" xsi:type="string">Mailgun</item>
                    <item name="host" xsi:type="string">smtp.gmail.com</item>
                    <item name="port" xsi:type="number">465</item>
                    <item name="protocol" xsi:type="string">ssl</item>
                </item>
                <item name="mandrill" xsi:type="array">
                    <item name="id" xsi:type="string">mandrill</item>
                    <item name="label" xsi:type="string">Mandrill</item>
                    <item name="host" xsi:type="string">smtp.mandrillapp.com</item>
                    <item name="port" xsi:type="number">587</item>
                    <item name="protocol" xsi:type="string">tls</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
